---
title: false
styles: true
---

@import "alembic";

.feature {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-position: 0px 0px;
}
body {
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  background-color: #fff;
}
.logo img {
  max-height: 3rem;
}
body .main h1{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  width: 90%;
  max-width: none;
  margin: 0 auto;
}

//   body {
//     background-color:#000;
//     color:#fff;
//   }
//   .main {
//     background-color:#fff;
//     color:#fff;
//   }
