---
title: false
styles: true
---

@import "alembic";

.feature {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-position: 0px 0px;
}
body {
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  background-color: #fff;
}
.logo img {
  max-height: 3rem;
}

body .main h2{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
}
body .main h1{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  width: 90%;
  max-width: none;
  margin: 0 auto;
}

//about
body .main .about-content{
  text-align: center;
}
.about-content ul {
  display: flex;
  justify-content: space-evenly;
}
ul li {
  display: inline-block;
}
li.counter-contents{
  margin: 0 50px;
}
div.counter-contents{
  display: grid;
}
.counter-contents img{
  display: block;
  margin: auto;
}
.countup {
  font-size: xx-large;
}

//   body {
//     background-color:#000;
//     color:#fff;
//   }
//   .main {
//     background-color:#fff;
//     color:#fff;
//   }
